{% extends "appbuilder/baselayout.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">

      <h1>{{_("Simple Catalog")}}</h1>
      <p>{{_("Showing categories and latest items ")}}</p>
      <div class="row">
          <div class="list-group col-md-6">
              {% for category in categories %}
              <a class="list-group-item list-group-item-action" href="/categorymodelview/edit/{{category.id}}"> {{category.name}}</a>
              {% endfor %}
          </div>
          <div class="list-group col-md-6">
              {% for item in items %}
              <a class="list-group-item list-group-item-action" href="/itemmodelview/{{item.title}}">{{item.title}} <small> <em>({{item.category.name}})</em></small></a>
              {% endfor %}
          </div>
      </div>


  </div>
</div>
{% endblock %}